.bulle-icone.bleu {
    background-color: hsl(196, 65%, 45%);
}

.bulle-icone-bordure.bleu {
    background-color: #1979b9;
}

.conteneur-redacteurs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.redacteur {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 0.05rem solid hsl(196, 65%, 45%); 
    border-radius: 0.3125rem; 
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); 
    text-align: center;
    font-size: 1.5rem;
}

.bulle-photo {
    width: 12rem; 
    height: 12rem;
    border-radius: 50%;
    border: 0.125rem solid hsl(196, 65%, 45%); 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

